<div ng-controller = "araccikis" ng-init = "New()">
    <div class="row">
        <div class="col-8">
            <div class="page-title-box">
                <h4 class="page-title">ARAÇ ÇIKIŞI</h4>
            </div>
        </div>
        <div class="col-3 offset-1 pt-2">
            <button type="button" class="btn btn-block btn-success waves-effect waves-light" ng-click = "BtnRefresh()"> <i class="mdi mdi-refresh"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 px-0">
            <div class="card">
                <div class="card-body px-2">
                    <div id = "TblCarList"></div>
                </div>
            </div>
        </div>
    </div>
</div>