
<div>
    <br>
    <br>
    <div class="row">
        <div class="col-12">
            <a ng-href="#!aracgiris"><button type="button"  class="btn btn-block btn-lg btn-success waves-effect waves-light" style="height: 200px;">Araç Giriş</button></a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <a ng-href="#!araccikis"><button type="button" ng-href="#!araccikis" class="btn btn-block btn-lg btn-danger waves-effect waves-light" style="height: 200px;">Araç Çıkış</button></a>
        </div>
    </div>
</div>
